header {
    background-color: #1a7cc7;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    h1 {
        text-align: left;
    }
    .tabs {
        display: flex;
    }
    .tabs * {
        flex: 25%;
    } 
}



