<header>
  <a href="/"><h1>DevDump</h1></a>
  <nav class="tabs">
    <a href="/about">About</a>
    <a href="/blogs">Blog</a>
    <a href="/tutorials">Tutorials</a>
    <a href="/projects">Projects</a>
  </nav>
</header>